*.qpf
*.qsf
*.qws
*.bak
*.cdb
*.hdb
*.rpt
*.qmsg
*.xml
*.rdb
*.kpt
*.db_info
*.html
*.hif
*.hier_info
*.txt
*.ammdb
*.bpm
*.logdb
*.sci
*.ddb
*.json
*.dpi
*.hb_info
*.sig
*.done
/*/incremental_db
/*/output_files
/*/simulation
/*/db
